* {
    box-sizing: border-box;
}
#drink-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border: solid 2px #360CEE;
}
.random-h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.random-p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgba(76, 76, 76, 0.5);
}
.button-div {
    text-align: center;
}
.rand-button{
    font-size: 15px;
    background-color: rgb(255, 53, 53);
}
.random-div {
    display: flex;
    flex-direction: column;
}
.ingredients-header {
    text-align: center;
    font-size: 30px;
}
.instructions-header {
    text-align: center;
    font-size: 30px;
}